#new-tweet {
  position: relative;
  width: 100%;
}

#new-tweet-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text-area {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: solid rgb(235, 203, 24) 5px;
  resize: none;
}

#tweet-text-area::placeholder {
  opacity: 1;
  font-weight: 500;
}

.counter{
  position: relative;
  right: 0;
  font-family: 'Bungee', cursive;
}

#tweet-submit-button {
  /* background-color: #4056A1; */
  background-color: #34a3cf;
  background-image: url("/images/green-dust-and-scratches.png");
  font-family: 'Bungee', cursive;
  color: rgb(245, 245, 245);
  text-shadow: black 1px 1px;
  cursor: pointer;
}

#tweet-submit-button:hover {
  /* background-color: #0b97ce; */
  background-color: #34a3cf;
  background-image: url("/images/green-dust-and-scratches.png");
  box-shadow: 2px 2px 2px white
}

#new-tweet-error {
  width: 100%;
  border: 5px solid red;
  background-color: auto;
  margin-top: 1%;
  padding: 6px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
}

.new-tweet-error-warning {
  width:5%;
  height: auto;
}

main section.new-tweet h2 {
  font-family: 'Bungee', cursive;
}

.red-text {
  color: red;
}